body{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.contenedor-titulo a{
    margin-left: 46%;
    margin-right: 50%;
    margin-top: 6px;
}


section{
    height: 800px;
    display: flex;
    /*alinea los elementos*/
    justify-content: space-evenly;
    /*distribuye los elementos*/
    padding: 0 40px;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

p{
    
    margin-bottom: 15px;
    width: 500px;
}

section img{
    height: 60%;
}

section a{
    display: inline-block;
    /*Para poderle dar las propiedades de un bloque como padding, margin etc.*/
    text-align: center;
    text-decoration: none;
    border-radius: 1px rgb(255, 255, 255);
    background-color: #f9f586;
    width: 100px;
    padding: 8px 0;
    border-radius: 50px;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;

}

.contenedor-titulo h2{
    font-family: 'Dela Gothic One', cursive;
    font-size: 100px;
    color: white;
}


section:nth-child(1){
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

section:nth-child(2){
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

section:nth-child(3){
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

section:nth-child(4){
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

@media screen and (max-width:1200px){
    section{
        flex-direction: column-reverse;
        justify-content: center;
    }

    section img{
        height: 40%;
    }

    .contenedor-titulo h2{
        font-size: 75px;
    }

    .contenedor-titulo a{
        margin-left: 40%;
        margin-right: 80%;
        margin-top: 6px;
    }
}

@media screen and (max-width:700px){
    section{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    section img{
        height: 30%;
    }

    .contenedor-titulo h2{
        font-size: 45px;
    }

    section{
        height: 750px;
    }

}
